@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,800;0,900;1,100;1,200&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BASIC*/

html{
    background-color: #ffffff ;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*===============================*/
/* Reusable*/
/*===============================*/
.row{
    max-width: 1140px;  
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/* ----------Paragraf----------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* ----------Icon----------*/
.box ion-icon{
    font-size: 300%;
    display: block;
    color: #8395a7;
}

/* ----------Headings----------*/
h1, h2, h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 175%;
    word-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3{
    font-size: 120%;
    margin-bottom: 15px;
}

/* h2:after{
    display: block;
    height: 2px;
    background-color:#8395a7;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
} */

/* ----------Button----------*/
.btn:link, .btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited{
    background-color: #8395a7;
    border: 1px solid #8395a7;
    color: #ffffff;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited{
    border: 1px solid #8395a7;
    color: #8395a7;
}

.btn:hover, .btn:active{
    background-color: #2e3841;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #2e3841;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #2e3841;
    color: #ffffff;
}

/*HEADER*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav{
    margin-top: 50px;
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited{
    padding: 7px 0px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #2e3841;

}

/*isi*/

.resume{
    width: 800px;
    background: #ffffff;
    margin: 25px auto;
    display: flex;
}

.left{
    width: 250px;
    padding: 0 20px;
}

.right{
    width: calc(100% - 250px);
}

.left .img_holder{
    text-align: center;
    padding: 20px 0;
}

.left .img_holder img{
    width: 200px;
    border-radius: 30px;
}

.pb{
    padding-bottom: 20px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: black;
}

.left .icon{
	font-size: 20px;
	
}

.left .text{
	font-size: 13px;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
}

.right_nama{
    padding: 15px 30px;
    height: 240px;
}

.right_nama .nama{
    font-size: 52px;
    font-weight: 700;
}

.right_nama .kerjaan{
    font-weight: 300;
    font-size: 20px;
}

.right_nama .about_meh{
    margin-top: 20px;
    line-height: 26px;
}

.right_inner{
    padding: 30px;
    color: black;
}

.right_inner .exp{
    padding-top: 40px;
}

.right_inner .education{
    margin-top: 30px;
}

.right_inner .li_wrap{
    display: flex;
    margin-bottom: 15px;
}

.right_inner .li_wrap .date{
    width: 125px;
    color: black;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: black;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background:black;
}

li {
    list-style: none;
}

/*===============================*/
/* Showcase*/
/*===============================*/
.section-showcase{
    padding: 0;
}

.showcase{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase li{
    display: block;
    float: left;
    width: 25%;
}

.showcase-photo{

    width: 100%;
    margin: 0;
    overflow: hidden;
}